<%= image_tag "weibull.png" %>
<h2>На нашому сайті ви можете ввести усі необхідні дані у цю форму і отримати розрахунки</h2>
<%= image_tag "form.png" %>
</br>
</br>
 <h4>Розробник Олійник Євген: </h4><a href="mailto:xa12850456@student.karazin.ua" class="primary-link"><h5>xa12850456@student.karazin.ua</h5></a>